*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

.border-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.border-2{
    border: 1px solid black;
    padding: 15px;
    height: auto;
    background-color: azure;
    width: 300px;
    border-radius: 2px;
}
.form-container-1{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 10px;
}
.input-width{
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    outline: none;
    border-color: black;
}
.btn-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.btn-width{
  width: 50%;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(77, 77, 228);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 2px;
  font-weight: 600;
}
.btn-width:hover{
    background-color: rgb(9, 9, 38);
    transition: 0.6s;
    color: #fff;
}
.p-margin{
    margin-top: 10px;
    text-align: center;
}




